<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>答题</title>
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/js/answer.js"></script>
    <script type="text/javascript" src="./static/js/simpleAlert.js"></script>    
    <script type="text/javascript" src="./static/js/jquery-1.10.2.min.js"></script>
    <script src="./static/js/js.js"></script>
</head>
<body class="question_bg">
    <div class="user">
        <div class="user_head">
            <div class="user1"></div>
        </div>
        <div class="user_message clearfix">
            <span class="user_name"></span>
            <div class="level">白丁</div>
            <p class="right"><span class="red">0</span><br/><span>个人得分</span></p>
        </div>
    </div>
    
    <div class="main">
        <div class="main_top clearfix">
            
                <p class="left"><span class="chances">3</span><br/><span>错误机会</span></p>
                <p class="middle"><span class="leibie">题目类别</span><span class="nandu"></span></p>
                <div class="circle-title"><p class="num"></p></div>

        </div>
        <div class="question clearfix">
            <p class="question_content"></p>
        </div>
        <div class="answer">
            <button href="javascript:;" class="answer1"></button>
            <button class="answer2"></button>
            <button class="answer3"></button>
            <button class="answer4"></button>
        </div>
    </div>
    
    <!-- <footer>
        <p>剩余机会*<span class="chances">3</span></p>
    </footer> -->

<script>



</script>    

</body>
</html>